*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

img {
    height: 200px;
    width: 200px;
}

.choices{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    cursor: pointer;
}
.choice:hover{
    opacity: 0.5;
}

.score-board{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
}